<h1>Create your account</h1>
<p class="muted">Start seeing your profit in plain language.</p>

<%= form_with model: @user do |f| %>
  <div class="field">
    <%= f.label :email, "Email" %>
    <%= f.email_field :email, required: true, autocomplete: "username", autofocus: true %>
    <%= render "shared/field_errors", model: @user, attribute: :email %>
  </div>
  <div class="field">
    <%= f.label :password, "Password" %>
    <%= render "shared/password_field", form: f, autocomplete: "new-password" %>
    <%= render "shared/field_errors", model: @user, attribute: :password %>
  </div>
  <%= f.submit "Create account", class: "btn-primary" %>
<% end %>

<p class="muted">Already have an account? <%= link_to "Sign in", new_session_path %></p>
