<%# locals: (transaction:, currency:, editable: false, granularity: nil, anchor: nil) %>
<%= tag.tr id: dom_id(transaction) do %>
  <td class="date"><%= transaction.posted_on.strftime("%d %b %Y") %></td>
  <td><%= transaction.description %></td>
  <%= tag.td class: class_names("amount", "is-negative" => transaction.amount.negative?) do %>
    <%= money(transaction.amount, currency: currency) %>
  <% end %>
  <% if local_assigns[:editable] %>
    <td class="actions">
      <%= form_with model: transaction,
        url: transaction_path(transaction, period: granularity, date: anchor),
        method: :patch,
        data: { controller: "auto-submit" } do |f| %>
        <label class="switch">
          <%= f.check_box :included,
            id: dom_id(transaction, :included),
            data: { action: "change->auto-submit#submit" } %>
        </label>
      <% end %>
    </td>
  <% end %>
<% end %>
